@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a href="/Home/Encode">Зашифровать сообщение</a>
<div>Шифрование))</div>
<a href="/Home/Decode">Расшифровать сообщение</a>

@*<input type="button"
         value="Зашифровать сообщение" />*@

@*<input type="button"
       value="Расшифровать сообщение" />*@